# Raw Data Files
*.nc
*.cpg
*.dbf
*.prj
*.shp
*.xml
*.shx
*.zip

# Raw Data Folders
/data/*
!/data/processed/*
/documents/exhibits

# LaTeX files
*.aux
*.log
*.out
*.synctex.gz
*.nav
*.snm
*.toc

# IPython Checkpoints
/notebooks/.ipynb_checkpoints
/code/regressions/.ipynb_checkpoints

code/scratch.mlx
*.lst
*.lxi
*.Rhistory
*.asv
code/matlab/scratch.mlx
*.bcf
*.docx
