# Raw Data Files
*.nc
*.cpg
*.dbf
*.prj
*.shp
*.xml
*.shx
*.zip

# Raw Data Folders
/data/*
!/data/processed/*
/documents/exhibits

# LaTeX files
*.aux
*.log
*.out
*.synctex.gz
*.nav
*.snm
*.toc
*.tex

# IPython Checkpoints
/notebooks/.ipynb_checkpoints


code/scratch.mlx
*.lst
*.lxi
analysis/cge/.Rhistory
